.vscode
fabian/EDA/trustpilot_categories.csv
fabian/EDA/trustpilot_companies.csv
fabian/EDA/trustpilot_reviews.csv
fabian/EDA/raw_html
fabian/NLP/text.csv
fabian/NLP/nltk/text.csv
fabian/NLP/nltk/mlruns